.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.y0{bottom:0.000000px;}
.yf{bottom:3.118999px;}
.ya{bottom:3.542998px;}
.y6{bottom:6.508000px;}
.y1a{bottom:8.557999px;}
.y2{bottom:11.746999px;}
.y1c{bottom:14.290999px;}
.y5{bottom:14.981000px;}
.y11{bottom:14.996999px;}
.y9{bottom:16.948997px;}
.yb{bottom:17.641998px;}
.y4{bottom:28.387000px;}
.y8{bottom:30.354999px;}
.y1b{bottom:72.015993px;}
.y19{bottom:266.440014px;}
.y18{bottom:314.453004px;}
.y17{bottom:336.796998px;}
.y16{bottom:359.140992px;}
.y15{bottom:440.759004px;}
.y14{bottom:485.860993px;}
.y13{bottom:525.376999px;}
.y12{bottom:558.892999px;}
.y10{bottom:590.204000px;}
.ye{bottom:613.253999px;}
.yd{bottom:627.968999px;}
.yc{bottom:647.653998px;}
.y7{bottom:675.082001px;}
.y3{bottom:715.799999px;}
.y1{bottom:734.250000px;}
.h7{height:13.172000px;}
.h5{height:19.950001px;}
.h1{height:21.799999px;}
.h9{height:24.049999px;}
.ha{height:24.344000px;}
.h8{height:25.049999px;}
.h2{height:29.121094px;}
.h4{height:34.945312px;}
.h3{height:40.250000px;}
.h6{height:42.217999px;}
.h0{height:792.000000px;}
.w5{width:41.599998px;}
.w7{width:42.849998px;}
.w6{width:44.500000px;}
.w4{width:124.949997px;}
.w3{width:135.050003px;}
.w1{width:135.649994px;}
.w8{width:184.100006px;}
.wa{width:256.750000px;}
.w2{width:306.250000px;}
.w9{width:369.899994px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:4.250000px;}
.x4{left:7.150000px;}
.xd{left:27.850000px;}
.xb{left:34.000000px;}
.x8{left:40.089000px;}
.xe{left:47.602000px;}
.x3{left:140.200003px;}
.x10{left:166.058005px;}
.xc{left:175.000000px;}
.x11{left:177.625000px;}
.xf{left:210.450006px;}
.x6{left:212.990997px;}
.x5{left:240.710007px;}
.x1{left:444.949988px;}
.x7{left:459.450012px;}
.x9{left:499.050011px;}
.xa{left:541.550011px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.yf{bottom:4.158666pt;}
.ya{bottom:4.723998pt;}
.y6{bottom:8.677334pt;}
.y1a{bottom:11.410665pt;}
.y2{bottom:15.662665pt;}
.y1c{bottom:19.054666pt;}
.y5{bottom:19.974667pt;}
.y11{bottom:19.995998pt;}
.y9{bottom:22.598663pt;}
.yb{bottom:23.522664pt;}
.y4{bottom:37.849333pt;}
.y8{bottom:40.473331pt;}
.y1b{bottom:96.021324pt;}
.y19{bottom:355.253352pt;}
.y18{bottom:419.270672pt;}
.y17{bottom:449.062664pt;}
.y16{bottom:478.854656pt;}
.y15{bottom:587.678672pt;}
.y14{bottom:647.814658pt;}
.y13{bottom:700.502665pt;}
.y12{bottom:745.190665pt;}
.y10{bottom:786.938666pt;}
.ye{bottom:817.671998pt;}
.yd{bottom:837.291999pt;}
.yc{bottom:863.538664pt;}
.y7{bottom:900.109334pt;}
.y3{bottom:954.399999pt;}
.y1{bottom:979.000000pt;}
.h7{height:17.562667pt;}
.h5{height:26.600001pt;}
.h1{height:29.066666pt;}
.h9{height:32.066666pt;}
.ha{height:32.458666pt;}
.h8{height:33.399999pt;}
.h2{height:38.828125pt;}
.h4{height:46.593750pt;}
.h3{height:53.666667pt;}
.h6{height:56.290665pt;}
.h0{height:1056.000000pt;}
.w5{width:55.466665pt;}
.w7{width:57.133331pt;}
.w6{width:59.333333pt;}
.w4{width:166.599996pt;}
.w3{width:180.066671pt;}
.w1{width:180.866659pt;}
.w8{width:245.466675pt;}
.wa{width:342.333333pt;}
.w2{width:408.333333pt;}
.w9{width:493.199992pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:5.666667pt;}
.x4{left:9.533333pt;}
.xd{left:37.133333pt;}
.xb{left:45.333333pt;}
.x8{left:53.452000pt;}
.xe{left:63.469333pt;}
.x3{left:186.933338pt;}
.x10{left:221.410673pt;}
.xc{left:233.333333pt;}
.x11{left:236.833333pt;}
.xf{left:280.600008pt;}
.x6{left:283.987996pt;}
.x5{left:320.946676pt;}
.x1{left:593.266651pt;}
.x7{left:612.600016pt;}
.x9{left:665.400014pt;}
.xa{left:722.066681pt;}
}
