.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.924000px;}
.ls3{letter-spacing:-0.173200px;}
.ls4{letter-spacing:-0.071200px;}
.ls6{letter-spacing:-0.066800px;}
.ls7{letter-spacing:-0.035520px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.035520px;}
.ls5{letter-spacing:0.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.488000px;}
._2{width:1.026720px;}
._8{width:2.252960px;}
._4{width:3.625440px;}
._3{width:4.740960px;}
._e{width:12.880640px;}
._b{width:34.004960px;}
._0{width:41.568000px;}
._d{width:54.918240px;}
._c{width:57.526880px;}
._5{width:171.107360px;}
._9{width:223.724480px;}
._7{width:339.391520px;}
._a{width:393.564800px;}
._6{width:1580.044480px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:15.840000px;}
.fs4{font-size:24.000000px;}
.fs3{font-size:32.160000px;}
.fs0{font-size:39.840000px;}
.fs1{font-size:48.000000px;}
.ye{bottom:0.000000px;}
.y18{bottom:2.160000px;}
.y50{bottom:2.180000px;}
.yc{bottom:2.520000px;}
.y3c{bottom:2.636000px;}
.y24{bottom:2.640000px;}
.y46{bottom:2.670000px;}
.y29{bottom:2.760000px;}
.y6{bottom:4.800000px;}
.y2{bottom:6.000000px;}
.y8{bottom:7.200000px;}
.y9{bottom:7.220000px;}
.y26{bottom:7.920000px;}
.y39{bottom:13.560000px;}
.y62{bottom:13.676000px;}
.y1a{bottom:13.680000px;}
.y4f{bottom:13.700000px;}
.y3e{bottom:13.704000px;}
.yb{bottom:16.320000px;}
.yd{bottom:17.040000px;}
.y5{bottom:18.620000px;}
.y83{bottom:25.076000px;}
.y38{bottom:25.080000px;}
.y5a{bottom:25.110000px;}
.y61{bottom:25.196000px;}
.y2e{bottom:25.200000px;}
.y4e{bottom:25.220000px;}
.y6d{bottom:25.230000px;}
.ya{bottom:30.120000px;}
.y4{bottom:32.420000px;}
.y10{bottom:37.080000px;}
.y85{bottom:59.040000px;}
.y66{bottom:59.160000px;}
.yc1{bottom:64.200000px;}
.y3f{bottom:66.480000px;}
.y84{bottom:68.280000px;}
.y65{bottom:68.400000px;}
.y0{bottom:74.000000px;}
.yc0{bottom:75.240000px;}
.y3d{bottom:75.480000px;}
.y64{bottom:77.520000px;}
.ybf{bottom:84.504000px;}
.y67{bottom:85.000000px;}
.y82{bottom:86.544000px;}
.y63{bottom:86.784000px;}
.ybe{bottom:93.744000px;}
.y40{bottom:94.500000px;}
.y60{bottom:95.784000px;}
.y3b{bottom:99.984000px;}
.ybd{bottom:102.860000px;}
.ybc{bottom:112.100000px;}
.y3a{bottom:115.700000px;}
.ybb{bottom:121.340000px;}
.y81{bottom:122.540000px;}
.y37{bottom:124.820000px;}
.yba{bottom:130.460000px;}
.y5f{bottom:131.780000px;}
.y80{bottom:138.260000px;}
.yb9{bottom:139.700000px;}
.y7f{bottom:147.260000px;}
.y5e{bottom:147.620000px;}
.yb8{bottom:148.940000px;}
.y5d{bottom:156.620000px;}
.yb7{bottom:158.060000px;}
.y36{bottom:160.700000px;}
.yb6{bottom:167.300000px;}
.y35{bottom:176.540000px;}
.y7e{bottom:183.260000px;}
.y34{bottom:185.540000px;}
.yb5{bottom:185.660000px;}
.y5c{bottom:192.620000px;}
.yb4{bottom:194.900000px;}
.yb3{bottom:204.140000px;}
.y5b{bottom:208.340000px;}
.y7d{bottom:209.540000px;}
.yb2{bottom:213.260000px;}
.y59{bottom:217.460000px;}
.y7c{bottom:218.540000px;}
.y33{bottom:221.540000px;}
.yb1{bottom:222.500000px;}
.yb0{bottom:231.740000px;}
.y32{bottom:237.380000px;}
.yaf{bottom:240.860000px;}
.y31{bottom:246.410000px;}
.yae{bottom:250.130000px;}
.y58{bottom:253.370000px;}
.y7b{bottom:254.570000px;}
.yad{bottom:259.370000px;}
.yac{bottom:268.490000px;}
.y57{bottom:269.210000px;}
.y7a{bottom:270.290000px;}
.y30{bottom:270.890000px;}
.yab{bottom:277.730000px;}
.y56{bottom:278.210000px;}
.y79{bottom:279.290000px;}
.yaa{bottom:286.970000px;}
.ya9{bottom:296.090000px;}
.y2f{bottom:297.050000px;}
.ya8{bottom:305.330000px;}
.y2d{bottom:306.050000px;}
.y55{bottom:314.210000px;}
.ya7{bottom:314.570000px;}
.y78{bottom:315.290000px;}
.ya6{bottom:323.690000px;}
.y54{bottom:330.050000px;}
.ya5{bottom:332.930000px;}
.y53{bottom:339.050000px;}
.y77{bottom:341.450000px;}
.y2c{bottom:342.050000px;}
.y76{bottom:350.570000px;}
.ya4{bottom:351.290000px;}
.y2b{bottom:357.890000px;}
.ya3{bottom:360.530000px;}
.y2a{bottom:366.890000px;}
.ya2{bottom:369.650000px;}
.y52{bottom:375.050000px;}
.ya1{bottom:378.890000px;}
.y75{bottom:386.570000px;}
.ya0{bottom:388.130000px;}
.y51{bottom:390.770000px;}
.y28{bottom:391.370000px;}
.y9f{bottom:397.250000px;}
.y4d{bottom:399.770000px;}
.y74{bottom:402.310000px;}
.y9e{bottom:406.510000px;}
.y27{bottom:407.230000px;}
.y73{bottom:411.310000px;}
.y9d{bottom:415.750000px;}
.y25{bottom:416.230000px;}
.y9c{bottom:424.870000px;}
.y9b{bottom:434.110000px;}
.y4c{bottom:435.790000px;}
.y23{bottom:440.710000px;}
.y9a{bottom:443.350000px;}
.y72{bottom:447.310000px;}
.y4b{bottom:451.630000px;}
.y99{bottom:452.470000px;}
.y22{bottom:456.430000px;}
.y4a{bottom:460.630000px;}
.y98{bottom:461.710000px;}
.y71{bottom:463.150000px;}
.y97{bottom:470.950000px;}
.y21{bottom:471.910000px;}
.y70{bottom:472.150000px;}
.y96{bottom:480.070000px;}
.y20{bottom:489.070000px;}
.y95{bottom:489.310000px;}
.y49{bottom:496.630000px;}
.y94{bottom:498.550000px;}
.y1f{bottom:506.350000px;}
.y93{bottom:507.670000px;}
.y6f{bottom:508.150000px;}
.y48{bottom:512.470000px;}
.y92{bottom:516.910000px;}
.y1e{bottom:517.870000px;}
.y47{bottom:521.470000px;}
.y91{bottom:526.150000px;}
.y1d{bottom:529.390000px;}
.y6e{bottom:534.310000px;}
.y90{bottom:535.270000px;}
.y1c{bottom:540.910000px;}
.y6c{bottom:543.310000px;}
.y8f{bottom:544.510000px;}
.y1b{bottom:552.430000px;}
.y8e{bottom:553.750000px;}
.y45{bottom:557.470000px;}
.y19{bottom:562.300000px;}
.y8d{bottom:562.900000px;}
.y8c{bottom:572.140000px;}
.y44{bottom:573.220000px;}
.y6b{bottom:579.340000px;}
.y8b{bottom:581.380000px;}
.y43{bottom:582.220000px;}
.y17{bottom:585.220000px;}
.y8a{bottom:591.340000px;}
.y6a{bottom:595.180000px;}
.y16{bottom:599.260000px;}
.y69{bottom:604.180000px;}
.y89{bottom:604.300000px;}
.y86{bottom:612.000000px;}
.y15{bottom:613.060000px;}
.y88{bottom:613.300000px;}
.y42{bottom:618.220000px;}
.y14{bottom:626.860000px;}
.y13{bottom:639.460000px;}
.y68{bottom:640.180000px;}
.y12{bottom:647.260000px;}
.y87{bottom:649.300000px;}
.y41{bottom:655.900000px;}
.y11{bottom:657.820000px;}
.yf{bottom:664.300000px;}
.y1{bottom:669.580000px;}
.y3{bottom:711.460000px;}
.y7{bottom:733.560000px;}
.hd{height:11.520000px;}
.h10{height:12.600000px;}
.h11{height:12.624000px;}
.ha{height:16.466484px;}
.h6{height:21.600000px;}
.h8{height:21.624000px;}
.he{height:22.920000px;}
.h15{height:22.944000px;}
.h12{height:23.040000px;}
.hc{height:25.335938px;}
.hf{height:33.431953px;}
.hb{height:33.950156px;}
.h14{height:34.440000px;}
.h18{height:34.464000px;}
.h13{height:34.560000px;}
.h17{height:34.584000px;}
.h9{height:41.400000px;}
.h3{height:41.415703px;}
.h7{height:42.057656px;}
.h4{height:43.704000px;}
.h5{height:50.671875px;}
.h2{height:85.584000px;}
.h1a{height:144.500000px;}
.h16{height:662.000000px;}
.h19{height:671.500000px;}
.h1{height:682.500000px;}
.h0{height:792.120000px;}
.w7{width:39.600000px;}
.w9{width:40.824000px;}
.w8{width:42.480000px;}
.wb{width:72.384000px;}
.w6{width:122.900000px;}
.w4{width:131.540000px;}
.w2{width:134.900000px;}
.w3{width:278.590000px;}
.wa{width:464.260000px;}
.w1{width:549.000000px;}
.w5{width:612.119991px;}
.w0{width:612.120000px;}
.x6{left:0.000009px;}
.x4{left:3.240000px;}
.xc{left:6.240000px;}
.x12{left:8.880000px;}
.xf{left:10.080000px;}
.x16{left:11.160000px;}
.xd{left:14.040000px;}
.x10{left:16.560000px;}
.x13{left:17.780000px;}
.x0{left:31.500000px;}
.x1{left:33.120000px;}
.x17{left:36.360000px;}
.x14{left:37.560000px;}
.xb{left:39.120000px;}
.x18{left:68.540000px;}
.x2{left:105.860000px;}
.x9{left:165.979991px;}
.x3{left:168.500000px;}
.x19{left:224.689991px;}
.x8{left:240.769991px;}
.x7{left:306.069991px;}
.x5{left:447.580000px;}
.xa{left:450.700000px;}
.xe{left:490.300000px;}
.x15{left:502.300000px;}
.x11{left:532.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-1.232000pt;}
.ls3{letter-spacing:-0.230933pt;}
.ls4{letter-spacing:-0.094933pt;}
.ls6{letter-spacing:-0.089067pt;}
.ls7{letter-spacing:-0.047360pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.047360pt;}
.ls5{letter-spacing:0.544000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.984000pt;}
._2{width:1.368960pt;}
._8{width:3.003947pt;}
._4{width:4.833920pt;}
._3{width:6.321280pt;}
._e{width:17.174187pt;}
._b{width:45.339947pt;}
._0{width:55.424000pt;}
._d{width:73.224320pt;}
._c{width:76.702507pt;}
._5{width:228.143147pt;}
._9{width:298.299307pt;}
._7{width:452.522027pt;}
._a{width:524.753067pt;}
._6{width:2106.725973pt;}
.fs2{font-size:21.120000pt;}
.fs4{font-size:32.000000pt;}
.fs3{font-size:42.880000pt;}
.fs0{font-size:53.120000pt;}
.fs1{font-size:64.000000pt;}
.ye{bottom:0.000000pt;}
.y18{bottom:2.880000pt;}
.y50{bottom:2.906667pt;}
.yc{bottom:3.360000pt;}
.y3c{bottom:3.514667pt;}
.y24{bottom:3.520000pt;}
.y46{bottom:3.560000pt;}
.y29{bottom:3.680000pt;}
.y6{bottom:6.400000pt;}
.y2{bottom:8.000000pt;}
.y8{bottom:9.600000pt;}
.y9{bottom:9.626667pt;}
.y26{bottom:10.560000pt;}
.y39{bottom:18.080000pt;}
.y62{bottom:18.234667pt;}
.y1a{bottom:18.240000pt;}
.y4f{bottom:18.266667pt;}
.y3e{bottom:18.272000pt;}
.yb{bottom:21.760000pt;}
.yd{bottom:22.720000pt;}
.y5{bottom:24.826667pt;}
.y83{bottom:33.434667pt;}
.y38{bottom:33.440000pt;}
.y5a{bottom:33.480000pt;}
.y61{bottom:33.594667pt;}
.y2e{bottom:33.600000pt;}
.y4e{bottom:33.626667pt;}
.y6d{bottom:33.640000pt;}
.ya{bottom:40.160000pt;}
.y4{bottom:43.226667pt;}
.y10{bottom:49.440000pt;}
.y85{bottom:78.720000pt;}
.y66{bottom:78.880000pt;}
.yc1{bottom:85.600000pt;}
.y3f{bottom:88.640000pt;}
.y84{bottom:91.040000pt;}
.y65{bottom:91.200000pt;}
.y0{bottom:98.666667pt;}
.yc0{bottom:100.320000pt;}
.y3d{bottom:100.640000pt;}
.y64{bottom:103.360000pt;}
.ybf{bottom:112.672000pt;}
.y67{bottom:113.333333pt;}
.y82{bottom:115.392000pt;}
.y63{bottom:115.712000pt;}
.ybe{bottom:124.992000pt;}
.y40{bottom:126.000000pt;}
.y60{bottom:127.712000pt;}
.y3b{bottom:133.312000pt;}
.ybd{bottom:137.146667pt;}
.ybc{bottom:149.466667pt;}
.y3a{bottom:154.266667pt;}
.ybb{bottom:161.786667pt;}
.y81{bottom:163.386667pt;}
.y37{bottom:166.426667pt;}
.yba{bottom:173.946667pt;}
.y5f{bottom:175.706667pt;}
.y80{bottom:184.346667pt;}
.yb9{bottom:186.266667pt;}
.y7f{bottom:196.346667pt;}
.y5e{bottom:196.826667pt;}
.yb8{bottom:198.586667pt;}
.y5d{bottom:208.826667pt;}
.yb7{bottom:210.746667pt;}
.y36{bottom:214.266667pt;}
.yb6{bottom:223.066667pt;}
.y35{bottom:235.386667pt;}
.y7e{bottom:244.346667pt;}
.y34{bottom:247.386667pt;}
.yb5{bottom:247.546667pt;}
.y5c{bottom:256.826667pt;}
.yb4{bottom:259.866667pt;}
.yb3{bottom:272.186667pt;}
.y5b{bottom:277.786667pt;}
.y7d{bottom:279.386667pt;}
.yb2{bottom:284.346667pt;}
.y59{bottom:289.946667pt;}
.y7c{bottom:291.386667pt;}
.y33{bottom:295.386667pt;}
.yb1{bottom:296.666667pt;}
.yb0{bottom:308.986667pt;}
.y32{bottom:316.506667pt;}
.yaf{bottom:321.146667pt;}
.y31{bottom:328.546667pt;}
.yae{bottom:333.506667pt;}
.y58{bottom:337.826667pt;}
.y7b{bottom:339.426667pt;}
.yad{bottom:345.826667pt;}
.yac{bottom:357.986667pt;}
.y57{bottom:358.946667pt;}
.y7a{bottom:360.386667pt;}
.y30{bottom:361.186667pt;}
.yab{bottom:370.306667pt;}
.y56{bottom:370.946667pt;}
.y79{bottom:372.386667pt;}
.yaa{bottom:382.626667pt;}
.ya9{bottom:394.786667pt;}
.y2f{bottom:396.066667pt;}
.ya8{bottom:407.106667pt;}
.y2d{bottom:408.066667pt;}
.y55{bottom:418.946667pt;}
.ya7{bottom:419.426667pt;}
.y78{bottom:420.386667pt;}
.ya6{bottom:431.586667pt;}
.y54{bottom:440.066667pt;}
.ya5{bottom:443.906667pt;}
.y53{bottom:452.066667pt;}
.y77{bottom:455.266667pt;}
.y2c{bottom:456.066667pt;}
.y76{bottom:467.426667pt;}
.ya4{bottom:468.386667pt;}
.y2b{bottom:477.186667pt;}
.ya3{bottom:480.706667pt;}
.y2a{bottom:489.186667pt;}
.ya2{bottom:492.866667pt;}
.y52{bottom:500.066667pt;}
.ya1{bottom:505.186667pt;}
.y75{bottom:515.426667pt;}
.ya0{bottom:517.506667pt;}
.y51{bottom:521.026667pt;}
.y28{bottom:521.826667pt;}
.y9f{bottom:529.666667pt;}
.y4d{bottom:533.026667pt;}
.y74{bottom:536.413333pt;}
.y9e{bottom:542.013333pt;}
.y27{bottom:542.973333pt;}
.y73{bottom:548.413333pt;}
.y9d{bottom:554.333333pt;}
.y25{bottom:554.973333pt;}
.y9c{bottom:566.493333pt;}
.y9b{bottom:578.813333pt;}
.y4c{bottom:581.053333pt;}
.y23{bottom:587.613333pt;}
.y9a{bottom:591.133333pt;}
.y72{bottom:596.413333pt;}
.y4b{bottom:602.173333pt;}
.y99{bottom:603.293333pt;}
.y22{bottom:608.573333pt;}
.y4a{bottom:614.173333pt;}
.y98{bottom:615.613333pt;}
.y71{bottom:617.533333pt;}
.y97{bottom:627.933333pt;}
.y21{bottom:629.213333pt;}
.y70{bottom:629.533333pt;}
.y96{bottom:640.093333pt;}
.y20{bottom:652.093333pt;}
.y95{bottom:652.413333pt;}
.y49{bottom:662.173333pt;}
.y94{bottom:664.733333pt;}
.y1f{bottom:675.133333pt;}
.y93{bottom:676.893333pt;}
.y6f{bottom:677.533333pt;}
.y48{bottom:683.293333pt;}
.y92{bottom:689.213333pt;}
.y1e{bottom:690.493333pt;}
.y47{bottom:695.293333pt;}
.y91{bottom:701.533333pt;}
.y1d{bottom:705.853333pt;}
.y6e{bottom:712.413333pt;}
.y90{bottom:713.693333pt;}
.y1c{bottom:721.213333pt;}
.y6c{bottom:724.413333pt;}
.y8f{bottom:726.013333pt;}
.y1b{bottom:736.573333pt;}
.y8e{bottom:738.333333pt;}
.y45{bottom:743.293333pt;}
.y19{bottom:749.733333pt;}
.y8d{bottom:750.533333pt;}
.y8c{bottom:762.853333pt;}
.y44{bottom:764.293333pt;}
.y6b{bottom:772.453333pt;}
.y8b{bottom:775.173333pt;}
.y43{bottom:776.293333pt;}
.y17{bottom:780.293333pt;}
.y8a{bottom:788.453333pt;}
.y6a{bottom:793.573333pt;}
.y16{bottom:799.013333pt;}
.y69{bottom:805.573333pt;}
.y89{bottom:805.733333pt;}
.y86{bottom:816.000000pt;}
.y15{bottom:817.413333pt;}
.y88{bottom:817.733333pt;}
.y42{bottom:824.293333pt;}
.y14{bottom:835.813333pt;}
.y13{bottom:852.613333pt;}
.y68{bottom:853.573333pt;}
.y12{bottom:863.013333pt;}
.y87{bottom:865.733333pt;}
.y41{bottom:874.533333pt;}
.y11{bottom:877.093333pt;}
.yf{bottom:885.733333pt;}
.y1{bottom:892.773333pt;}
.y3{bottom:948.613333pt;}
.y7{bottom:978.080000pt;}
.hd{height:15.360000pt;}
.h10{height:16.800000pt;}
.h11{height:16.832000pt;}
.ha{height:21.955312pt;}
.h6{height:28.800000pt;}
.h8{height:28.832000pt;}
.he{height:30.560000pt;}
.h15{height:30.592000pt;}
.h12{height:30.720000pt;}
.hc{height:33.781250pt;}
.hf{height:44.575937pt;}
.hb{height:45.266875pt;}
.h14{height:45.920000pt;}
.h18{height:45.952000pt;}
.h13{height:46.080000pt;}
.h17{height:46.112000pt;}
.h9{height:55.200000pt;}
.h3{height:55.220937pt;}
.h7{height:56.076875pt;}
.h4{height:58.272000pt;}
.h5{height:67.562500pt;}
.h2{height:114.112000pt;}
.h1a{height:192.666667pt;}
.h16{height:882.666667pt;}
.h19{height:895.333333pt;}
.h1{height:910.000000pt;}
.h0{height:1056.160000pt;}
.w7{width:52.800000pt;}
.w9{width:54.432000pt;}
.w8{width:56.640000pt;}
.wb{width:96.512000pt;}
.w6{width:163.866667pt;}
.w4{width:175.386667pt;}
.w2{width:179.866667pt;}
.w3{width:371.453333pt;}
.wa{width:619.013333pt;}
.w1{width:732.000000pt;}
.w5{width:816.159988pt;}
.w0{width:816.160000pt;}
.x6{left:0.000012pt;}
.x4{left:4.320000pt;}
.xc{left:8.320000pt;}
.x12{left:11.840000pt;}
.xf{left:13.440000pt;}
.x16{left:14.880000pt;}
.xd{left:18.720000pt;}
.x10{left:22.080000pt;}
.x13{left:23.706667pt;}
.x0{left:42.000000pt;}
.x1{left:44.160000pt;}
.x17{left:48.480000pt;}
.x14{left:50.080000pt;}
.xb{left:52.160000pt;}
.x18{left:91.386667pt;}
.x2{left:141.146667pt;}
.x9{left:221.306655pt;}
.x3{left:224.666667pt;}
.x19{left:299.586655pt;}
.x8{left:321.026655pt;}
.x7{left:408.093321pt;}
.x5{left:596.773333pt;}
.xa{left:600.933333pt;}
.xe{left:653.733333pt;}
.x15{left:669.733333pt;}
.x11{left:710.373333pt;}
}
